<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{css/company.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bar.css}"/>

</head>
<body>

<div class="container">

    <div class="well-searchbox">
        <div class="container-fluid">
            <!-- Second navbar for profile settings -->
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-collapse-4">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="home" class="navbar-brand">JUNIOR JOB FINDER</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse-4">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="home">Wyszukaj</a></li>
                            <li><a href="company">Firmy</a></li>
                            <li><a href="announcement">Ogłoszenia</a></li>
                            <li><a href="addannouncement">Dodaj ogłoszenie</a></li>
                            <li><a href="#">Dodaj firmę</a></li>
                            <li><a href="#">Kontact</a></li>
                            <li>
                                <a class="btn btn-default btn-outline btn-circle" data-toggle="collapse"
                                   href="#nav-collapse4" aria-expanded="false" aria-controls="nav-collapse4">Profile <i
                                        class=""></i> </a>
                            </li>
                        </ul>
                        <ul class="collapse nav navbar-nav nav-collapse" role="search" id="nav-collapse4">
                            <li><a href="#">Support</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><img class="img-circle"
                                                              src="https://pbs.twimg.com/profile_images/588909533428322304/Gxuyp46N.jpg"
                                                              alt="maridlcrmn" width="20"/> Maridlcrmn <span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Mój profil</a></li>
                                    <li><a href="#">Ulubione</a></li>
                                    <li><a href="#">Ustawienia</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/logout">Wyloguj</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav><!-- /.navbar -->
        </div><!-- /.container-fluid -->
    </div>
    <br /><br />


    <h1>Lista ogłoszeń</h1>

    <table class="points_table">
        <thead>
        <tr>
            <th class="col-md-2" width="100">umiejętności</th>
            <th class="col-md-2" width="100">Firma</th>
            <th class="col-md-2" width="100">JOB_POSITION</th>
            <th class="col-md-2" width="100">Miasto</th>
            <th class="col-md-1" width="100">Opis</th>
            <th class="col-md-1" width="100">Data</th>
            <th class="col-md-1" width="100">Min wynagrodzenie</th>
            <th class="col-md-1" width="100">Max wynagrodzenie</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="announcement : ${announcements}">
            <td class="col-md-2" th:text="${announcement.getDevskills().getName()}"></td>
            <td class="col-md-2" th:text="${announcement.getCompany().getName()}"></td>
            <td class="col-md-2" th:text="${announcement.getJobPosition()}"></td>
            <td class="col-md-2" th:text="${announcement.getCity().getName()}"></td>
            <td class="col-md-1" th:text="${announcement.getJobDescription()}"></td>
            <td class="col-md-1" th:text="${announcement.getDate()}"></td>
            <td class="col-md-1" th:text="${announcement.getMinSalary()}"></td>
            <td class="col-md-1" th:text="${announcement.getMaxSalary()}"></td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>