<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{css/company.css}" type="text/css" />

</head>
<body>
<div class="container">

    <h1>Lista firm</h1>

    <table class="points_table">
        <thead>
        <tr>
            <th class="col-md-2" width="100">Nazwa</th>
            <th class="col-md-2" width="100">Ulica</th>
            <th class="col-md-2" width="100">Numer</th>
            <th class="col-md-2" width="100">Miasto</th>
            <th class="col-md-2" width="100">E-mail</th>
            <th class="col-md-2" width="100">Telefon</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${companies}">
            <td class="col-md-2" th:text="${company.getName()}"></td>
            <td class="col-md-2" th:text="${company.getStreetName()}"></td>
            <td class="col-md-2" th:text="${company.getStreetNumber()}"></td>
            <td class="col-md-2" th:text="${company.getCity()}"></td>
            <td class="col-md-2" th:text="${company.getEmail()}"></td>
            <td class="col-md-2" th:text="${company.getPhoneNumber()}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>